<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="product in productsDenmark">
            <div class="panel panel-primary">
                <div class="panel-heading"><a href="#/product/{{product.id}}">{{product.name}}</a></div>
                <div class="panel-body">
                    <img ng-src="../Content/img/pictures/product-img{{ product.id }}.jpg" alt="Image" id="productImage">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success">Köp</button>
                </div>
            </div>
        </div>

    </div>
</div>