<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="product in productsCategoryNorway">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="#/product/{{product.id}}">{{product.name}}</a></div>
                <div class="panel-body">
                    <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width: 100%" alt="Image">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success">Köp</button>
                </div>
            </div>
        </div>

    </div>
</div>